* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.ly-container {
    width: 700px;
    margin:0 auto;
    text-align:center;
}
.clock {
    text-align:center;
    h1 {
        font-size:5rem;
    }
}

.user-name {
    display: none;
    margin: 1rem 0;

    input {
        width: 50%;
        height: 2rem;
        font-size:1.5rem;
    }
}

.user-name-text {
    display:none;
    font-size:2.5rem;
    font-weight:500;
    text-transform:uppercase;
}

.todos-form {
    margin: 1rem 0;

    input {
        width: 50%;
        height: 2rem;
        font-size:1.5rem;
    }
}